<form class="form-account login" method="POST" action="{% url 'account_login' %}">
{% csrf_token %}
{% include 'form_snippet.html' %} <!-- here -->
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
<a class="button secondaryAction d-block mb-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?"%}</a>
<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
</form>
